.navbar1 {
    width: 20%;
    background-color: #ccc;
    border-radius: 5px;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}

.navbar_title {
    display: flex;
    margin: 10px;
    border-bottom: 1px solid #000;
}

.title_button {
    margin-right: 40px;
    border: none;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
}

.navbar_item {
    margin: 0 10px;
    padding: 10px;
}

.navbar_item:hover {
    background-color: #ddd;
    cursor: pointer;
    font-weight: bold;
}

.navbar_item p {
    font-size: 20px;
}

.active {
    background-color: #ddd;
    font-weight: bold;
}